.wrapperEditable {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tagsBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 40%;
}
