.tagsBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  max-width: 40%;
}
.tagAndNoteWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  background: #eafcef;
}
.tagCreatorBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.tagDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  max-width: 300px;
  font-size: 24px;
}

.deleteTagBox{
  margin: 5px 5px 5px 0;
}

.deleteTagText{
  margin: 5px 5px 5px 0;
}